@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,800&display=swap');

body{
    background: black;
}

#titulo{
    
    float: none;
    color: aqua;
    font-family: 'Playfair Display', sans-serif;
    margin-top: 25px;
    margin-left: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#introducao{

    color:aliceblue;
    font: 18px cambria;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

button{

    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid rgb(173, 128, 240);
    background-color: rgba(64, 6, 255, 0.692);
    color: aqua;
    font-size: 16pt;
    font-weight: 600;
    text-align: center;
    
}

#currentNumber{

    color: rgb(255, 6, 255);
    font: bold italic 25px cambria;
    
}

#counter{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}